/* -------FOR FULL PAGE------------------*/
html,body
{
	margin-left; 100px;
    	font-family: sans-serif;
    	overflow-x: hidden;
	background:white;	
	
	
}

/* -------FOR HEAD-----------------------*/
.wrap 
{
	
	
	width:100%;
	background:white;
}

.name
{
	color:darkred;
	float: left;
	text-shadow: 2px 5px 5px purple;
}


#title
{
	padding-top: 20px;
	font-size:56px;
	
}

/* -------FOR DROPDOWN MENU--------------*/
.dropbtn 
{
    	background-color: white;
    	color: black;
    	cursor: pointer;
	border:none;
}


 .dropdown-content 
{
	display:none;
    	position: absolute;
	background-color:lightgray;
	min-width:160px;

}


 .dropdown-content a 
{
    	color: blue;
   	text-align:left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
   	text-decoration: none;
   	display:block;
}

.dropdown-content a:hover 
{
	background-color: lightgreen;
}


.dropdown:hover .dropdown-content
{
    display: block;
}

/*-----END OF DROPDOWN MENU--------------*/


/*------TO FIX POS OF HEADER-------------*/
#header
{

	position:fixed;
}


/*----------FOR ICON---------------------*/
.firstimage
{
	float:left;
}


/*-- FOR NAV BAR (TOP OF PAGE)-----------*/
.navbar
{
	padding-top: 20px;
	padding-left:250px;
}


/*----------FOR HERO UNIT---------------*/
.head
{
	width: 100%;
	height: 500px;
	
}



/* -------FOR MAIN GRID------------------*/
#readmore
{
	text-align:right;
	text-align:bottom;
}


.myclass
{
	width:100%;
	background: lightgray;
}


.name
{
	margin-left:60px;
}


label
{
	display:block;
}



.maingrid
{
	padding-left:120px;
	width: 100%;
	background: lightgray;
}

.grid
{
	padding-left: 10px;
	padding-right: 50px;
}


.subtitle
{
	text-align:center;

	
}


.login
{
	margin-top: 50px;
	margin-left: 170px;
	padding-bottom: 50px;
	padding-left: 100px;
}


.caption
{
	text-align:center;
}


/*----FOR PICS OF ITEMS AVAILABLE--*/
.mycont
{
	padding-left: 25px;
	width:100%;	
}


.mycont a
{
	text-decoration:none;
	color:black;
}

.mycont a:hover
{
	color:green;
	font-weight:bold;
	font-size:100px;
	
}


#offer
{
	
	width: 250px;
	height: 200px;
}
/*--------END OF PICS OF ITEMS---------*/


/*---------FOR ROWS------------------*/
.one
{
	width: 850px;
	height: 30%;
	float:top;

	padding-top: 20px;
	padding-bottom: 20px;
}


.two
{
	width: 850px;
	height: 30%;
	padding-top: 20px;
	padding-bottom: 20px;
}


.three
{
	width: 850px;
	height: 40%;
	padding-top: 20px;
}	
/*----------END OF ROWS----------------*/

/*----FOR NAV BAR (BOTTOM OF PAGE)-----*/

#contactuson
{
	text-align:center;
	padding-right: 160px;
}


nav li
{
	display:inline;
	float:right;
	padding-top:20px;
}


li a
{
	text-align:right;
	text-decoration:none;
	color:black;
}



 /*-------FOR IMAGES-------------*/


.shoppingpic
{
	width: 700px;
	height: 360px;
}

.grid_6 img
{
	width: 310px;
	height: 400px;
}



.mission
{
	padding-top:20px;
	width: 310px;
	height: 200px;
	
}


img
{
	width: 120px;
	height: 130px;
}


#logo
{
	width: 470px;
	height: 550px;
}




/*--------FOOTER-----*/

.f1
{
	text-align: center;
}

.social
{
	width: 50px;
	height:50px;
}

.contact
{
	padding-right: 550px;
}

